.loginForm {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.loginForm * {
    margin-top: 10px;
}

.logo {
    max-width: 150px;
}

@media (min-width: 768px) {
    .loginTitle {
        font-size: 3rem;
        font-weight: 400;
        color: var(--secondary);
    }
    .loginWrapper {
        display: flex;
        justify-content: space-between;
    }

    .loginForm {
        justify-content: center;
    }

    .loginImage {
        max-width: 50%;
        max-height: 100vh;
    }
}
