@import "tailwindcss";

@theme {
    --breakpoint-xs: 425px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
}

:root {
    --primary: #FF7043;
    --secondary: #2C3E50;
    --text:#121212;
}