@import "tailwindcss";

@theme {
    --breakpoint-xs: 425px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;

    --color-accent-orange: #FF7043;
    --color-primary-blue: #2C3E50;
    --color-black-text: #121212;
    --color-disabled-grey: #E0E0E0;
}